* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Quattrocento Sans', sans-serif;
	background-color: #f8f8f8;
	max-width: 1500px;
}

@import './nav';

@import './index';

@import './about';

@import './gallery';

@import './contact';

@import './footer';

@import './media';